/** MENU **/

body {
  background-size: contain;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: lackreg;
    color: black;
    font-size: 2vw;
}

.nav {
    border-bottom: transparent;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: black;
    margin: 100px 100px 100px 100px;
    line-height: 70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 1100px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: transparent;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }}

/** FONTS **/

@font-face {
  font-family: 'lackline';
  src:  url('fonts/lackline.woff2') format('woff2'),
        url('fonts/lackline.woff') format('woff');
}

@font-face {
  font-family: 'lackreg';
  src:  url('fonts/lackreg.woff2') format('woff2'),
        url('fonts/lackreg.woff') format('woff');
}

h1 { 
  font-family: lackline;
  color: black;
  font-size: 8vw;
  margin: 0;
 }

h2 {
  font-family: lackreg;
  color: #C2573F;
  font-size: 8vw;
  margin: 0;
  z-index: -1;
}

h3 {
  font-family: lackreg;
  color: white;
  font-size: 8vw;
}


/** INDEX HEADERS **/

.index-text-header {
  height: 100vh;
  width: 100vw;
  position: absolute;
  border: 3px black; 
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 30vh;
  margin-right: 0;
  margin-left: 0;
  z-index: 1
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index-img img {
  width: 40vw;
  z-index: 1;
  text-align: center;
}

.home-footer img {
  width: 100vw;
  position: fixed;
  bottom: 0px;
}
